<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <% if(user) {%> 
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <% if(listaContatos.length > 0) {%> 
            <p class="text-center lead">Seus contatos estão abaixo</p>

            <!-- <div class="row">
                <div class="col">
                    <div class="alert alert-danger">Erro</div>
                </div>
            </div> -->
            <!-- div.resoponsive-table>table.table>tr>td* -->
            <div class="responsive-table">
                <table class="table my-3">
                    <% listaContatos.forEach(contato => {%>
                        <tr>
                            <td><%= contato.name %> </td>
                            <td><%= contato.lastName %> </td>
                            <td><%= contato.email %> </td>
                            <td><%= contato.telephone %> </td>
                            <td><a href="/contato/index/<%= contato._id %> " ><button class="btn btn-secondary">Editar</button></a></td>
                            <td><a href="/contato/delete/<%= contato._id %> "><button class="btn btn-danger">Excluir</button></a></td>
                        </tr>
                    <% })  %>
                </table>
            </div>
            <%}  else  {%> 
                <p class="text-center lead">Não existem contatos na sua agenda</p>
                <% } %> 
        </div>
        <%} else {%> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                        <div class="col-lg-8 my-5">
                            <h1 class="display-1 text-center">Olá</h1>
                            <p class="text-center lead">Você precisa estar logado para ter acesso a esta área!</p>
                        </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <% } %> 
        <div class="col-lg-2"></div>
    </div>
</div>


<%- include('includes/footer') %>